.friendList {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.item {
  border: 2px solid #ccc;
  max-height: 70vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: auto;
  /* margin-top: 40px; */
  margin-bottom: auto;
  border: none;
  padding: 10px 20px;
  gap: 20px;
}

.avatar {
  border-radius: 10%;
  margin-right: 10px;
  border: 2px solid #ebedf0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: auto;
}

.online {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
}

.offline {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}

.name {
  margin: 0;
  font-size: 25px;
  text-align: center;

  font-weight: 650;
}

/* Media query pentru ecrane de tip mobil */
@media screen and (max-width: 480px) {
  .item {
    max-width: 250px;
  }

  .avatar {
    width: 20%;
  }

  .online {
    width: 13px;
    height: 13px;
  }

  .offline {
    width: 13px;
    height: 13px;
  }

  .name {
    font-size: large;
  }
}

/* Media query pentru ecrane de tip tabletă */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .avatar {
    width: 20%;
  }

  .online {
    width: 15px;
    height: 15px;
  }

  .offline {
    width: 15px;
    height: 15px;
  }

  .name {
    margin: 0;
    font-size: 20px;
    font-weight: 650;
  }
}
