.transactionHistory {
  width: 50%;
  border-collapse: collapse;
  margin-top: 30px;
  margin: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #42a8af;
  color: aliceblue;
  text-align: center;
}

/*  stil pt randurile pare */
tr:nth-child(even) {
  background-color: #ffffff;
}

/* stil pt randurile impare */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Media query pentru ecrane de tip mobil */
@media screen and (max-width: 480px) {
  .transactionHistory {
    width: 80%;
  }
}

/* Media query pentru ecrane de tip tabletă */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .transactionHistory {
    width: 80%;
  }
}
